<a href="/post/{{id}}">
<div class="row h-25 my-5 p-2 border">

    <div class="col-3">
        <img src="{{cover_img_url}}" alt="{{book_title}}">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center col-9">
        <h4>{{title}}</h4>
        <p>
            {{body}}
        </p>
        <p>- {{userName}}</p>
    </div>

</div>
</a>