<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="d-flex flex-column text-center">
                <div class="card">
                    <img src="{{userData.profile_pic}}" alt="Profile Picture for {{userData.username}}">
                </div>
                <div>
                    <h2>{{userData.username}}</h2>
                </div>
                {{#if owner}}
                <div>
                    <a href='/profile/update/{{userData.id}}'><button class="btn btn-primary">Update
                            Profile</button></a>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="col-12 col-md-7">
            <h2>Posts by {{userData.username}}</h2>
            {{#each userData.posts as |post|}}
            {{>dashboardPost post}}
            {{/each}}
        </div>
    </div>
</div>